<ion-view view-title="Jugar">
  <ion-content>
  <p>Eleg&iacute; y posicion&aacute; los barcos!</p>
  <div class="row" style="height:180px;">
  	<div class="col col-75">
  		<img src="img/barco1.png" data-drag="true" jqyoui-draggable style="width:280px;">
  		<img src="img/barco4.png" data-drag="true" jqyoui-draggable style="width:280px;">
  	</div>
  	<div class="col">
  		<img src="img/barco2.png" data-drag="true" jqyoui-draggable style="width:40px; height:150px;">
  		<img src="img/barco3.png" data-drag="true" jqyoui-draggable style="width:40px; height:150px;">
  	</div>
  </div>  
    <div class="row">
	  <div class="colGrid">A1</div>
	  <div class="colGrid">B1</div>
	  <div class="colGrid">C1</div>
	  <div class="colGrid">D1</div>
	</div>
	<div class="row">
	  <div class="colGrid">A2</div>
	  <div class="colGrid">B2</div>
	  <div class="colGrid">C2</div>
	  <div class="colGrid">D2</div>
	</div>
	<div class="row">
	  <div class="colGrid">A3</div>
	  <div class="colGrid">B3</div>
	  <div class="colGrid">C3</div>
	  <div class="colGrid">D3</div>
	</div>
	<div class="row">
	  <div class="colGrid">A4</div>
	  <div class="colGrid">B4</div>
	  <div class="colGrid">C4</div>
	  <div class="colGrid">D4</div>
	</div>
	<button class="button button-block button-balanced">JUGAR</button>
  </ion-content>
</ion-view>
